{
  "presets": [
    ["@babel/preset-env"],
    [
      "@babel/preset-typescript",
      {
        "allowDeclare": true
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-decorators", { "version": "legacy" }]]
}
